.alert {
	padding: 11px 15px;
}
.import-part,
.export-part {
	padding: 25px;
	border: 1px solid #ddd;
	border-top-style: none;
	border-radius: 0 0 4px 4px;
}
.btn-submit-step-2 {
	margin-top: 25px;
	line-height: 14px;
}
.mb-20{margin-bottom: 20px;}
.logo-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-bottom: 20px;
}
.logo-wrap .wpallexport-logo img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}